body {
  background-color: black;
  color: white;
  font-family: monospace;
  margin: 0;
  padding: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

.line {
  white-space: pre-wrap;
  line-height: 1.5;
}

.command-line {
  margin-top: 1rem;
}

.cursor::after {
  content: '_';
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
